@use 'variables' as *;
@use 'media-queries' as *;

.game-board {
  cursor: pointer;
  margin: 0 auto;
  max-width: 60rem;
  padding-top: clamp(6.5rem, 5.429rem + 2.857vw, 8rem);
  position: relative;
  transition: opacity 0.5;
  z-index: 5;

  .row {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: clamp(1rem, 0.643rem + 0.952vw, 1.5rem) 0;

    .cell {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 2rem;
      width: 100%;
    }
  }
}

.game-icon {
  transform: scale(0.75);
  transition: all 0.25s ease-in-out;

  @include phone {
    transform: scale(1);
  }

  @include desktop {
    transform: scale(1.15);
  }

  &:hover {
    transform: scale(0.82);

    @include phone {
      transform: scale(1.07);
    }

    @include desktop {
      transform: scale(1.22);
    }
  }

  &:active {
    transform: scale(0.7);

    @include phone {
      transform: scale(0.9);
    }

    @include desktop {
      transform: scale(1.05);
    }
  }

  &-init {
    opacity: 1;
  }

  &-hidden {
    display: none;
    opacity: 0;
  }
}

.cell-color {
  height: clamp(0.75rem, 0.393rem + 0.952vw, 1.25rem);

  &-purple,
  &-green,
  &-yellow,
  &-orange,
  &-blue {
    width: 100%;
  }
}