@use 'variables' as *;

.yellow-bg {
  background-color: $yellow;
}

.yellow-text {
  color: $yellow;
}

.green-bg {
  background-color: $green;
}

.green-text {
  color: $green;
}

.orange-bg {
  background-color: $orange;
}

.orange-text {
  color: $orange;
}

.purple-bg {
  background-color: $purple;
}

.purple-text {
  color: $purple;
}

.blue-bg {
  background-color: $blue;
}

.blue-text {
  color: $blue;
}

.daisy-bg {
  background-color: $daisy;
}

.daisy-text {
  color: $daisy;
}

.sunset-bg {
  background-color: $sunset;
}

.sunset-text {
  color: $sunset;
}

.charcoal-bg {
  background-color: $charcoal;
}

.charcoal-text {
  color: $charcoal;
}

.dark-bg {
  background-color: $dark;
}

.dark-text {
  color: $dark;
}

.light-bg {
  background-color: $light;
}

.light-text {
  color: $light;
}