$light: #efefef;
$dark: #1e1e1e;
$green: #00b456;
$daisy: #FFF498;
$yellow: #edd91f;
$sunset: #f2a818;
$orange: #fe6e06;
$blue: #05aff2;
$purple: #7933C1;
$charcoal: #5f5f5f;

$phone: 30rem;
$tablet: 48rem;
$desktop: 64rem;

$container-lg: 80rem;