.yellow-bg {
  background-color: #edd91f;
}

.yellow-text {
  color: #edd91f;
}

.yellow-border {
  border: 1px solid #edd91f;
}

.green-bg {
  background-color: #00b456;
}

.green-text {
  color: #00b456;
}

.green-border {
  border: 1px solid #00b456;
}

.orange-bg {
  background-color: #fe6e06;
}

.orange-text {
  color: #fe6e06;
}

.orange-border {
  border: 1px solid #fe6e06;
}

.purple-bg {
  background-color: #7933C1;
}

.purple-text {
  color: #7933C1;
}

.purple-border {
  border: 1px solid #7933C1;
}

.blue-bg {
  background-color: #05aff2;
}

.blue-text {
  color: #05aff2;
}

.blue-border {
  border: 1px solid #05aff2;
}

.daisy-bg {
  background-color: #FFF498;
}

.daisy-text {
  color: #FFF498;
}

.sunset-bg {
  background-color: #f2a818;
}

.sunset-text {
  color: #f2a818;
}

.charcoal-bg {
  background-color: #5f5f5f;
}

.charcoal-text {
  color: #5f5f5f;
}

.dark-bg {
  background-color: #1e1e1e;
}

.dark-text {
  color: #1e1e1e;
}

.light-bg {
  background-color: #efefef;
}

.light-text {
  color: #efefef;
}

.green-bg {
  background-color: #00b456;
}

.green-text {
  color: #00b456;
}

.green-border {
  border: 1px solid #00b456;
}

.green-100-bg {
  background-color: #F6FEF8;
}

.green-300-bg {
  background-color: #76C296;
}

.green-500-bg {
  background-color: #00b456;
}

.green-700-bg {
  background-color: #066332;
}

.green-theme-accent-bg {
  background-color: #B5A72A;
}

.yellow-bg {
  background-color: #edd91f;
}

.yellow-text {
  color: #edd91f;
}

.yellow-border {
  border: 1px solid #edd91f;
}

.yellow-100-bg {
  background-color: #F6FEF8;
}

.yellow-300-bg {
  background-color: #FFF498;
}

.yellow-500-bg {
  background-color: #edd91f;
}

.yellow-700-bg {
  background-color: #f2a818;
}

.yellow-theme-accent-bg {
  background-color: #fe6e06;
}

.orange-bg {
  background-color: #fe6e06;
}

.orange-text {
  color: #fe6e06;
}

.orange-border {
  border: 1px solid #fe6e06;
}

.orange-100-bg {
  background-color: #FEFAF6;
}

.orange-300-bg {
  background-color: #F5B080;
}

.orange-500-bg {
  background-color: #FB8C3E;
}

.orange-700-bg {
  background-color: #F06400;
}

.orange-theme-accent-bg {
  background-color: #E1CE2A;
}

.purple-bg {
  background-color: #7933C1;
}

.purple-text {
  color: #7933C1;
}

.purple-border {
  border: 1px solid #7933C1;
}

.purple-100-bg {
  background-color: #FDFAFF;
}

.purple-300-bg {
  background-color: #ECB2FF;
}

.purple-500-bg {
  background-color: #A06EE2;
}

.purple-700-bg {
  background-color: #7531EA;
}

.purple-theme-accent-bg {
  background-color: #C915C1;
}

.blue-bg {
  background-color: #05aff2;
}

.blue-text {
  color: #05aff2;
}

.blue-border {
  border: 1px solid #05aff2;
}

.blue-100-bg {
  background-color: #FAFEFF;
}

.blue-300-bg {
  background-color: #77D9FF;
}

.blue-500-bg {
  background-color: #05AFF2;
}

.blue-700-bg {
  background-color: #186787;
}

.blue-theme-accent-bg {
  background-color: #B5A72A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.side-padding {
  padding: 0 clamp(1.5rem, 0.618rem + 2.941vw, 2.5rem);
}

.container {
  margin: 0 auto;
  max-width: 80rem;
}

.section {
  position: relative;
}

.header {
  background: linear-gradient(to bottom, #1e1e1e, transparent);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;
}
.header-container {
  align-items: center;
  display: flex;
  height: clamp(5rem, 3.897rem + 3.676vw, 6.25rem);
  justify-content: space-between;
}
.header-container .logo-container {
  width: clamp(4.75rem, 3.647rem + 3.676vw, 6rem);
}
.header-container .logo-container .logo {
  color: #edd91f;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.header-container .logo-container .logo-negative-spacing {
  margin-left: -5px;
}
.header-container .logo-container .logo-positive-spacing {
  margin-left: 2px;
}
.header-container .menu-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-container .menu-container .menu-bars {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.header-container .menu-container .menu-bars .menu-bar {
  height: 1.5px;
}
@media (min-width: 48rem) {
  .header-container .menu-container .menu-bars .menu-bar {
    height: 2.5px;
  }
}
.header-container .menu-container .menu-bars .menu-bar-top {
  width: 45px;
}
.header-container .menu-container .menu-bars .menu-bar-middle-top {
  width: 35px;
}
.header-container .menu-container .menu-bars .menu-bar-middle-bottom {
  width: 25px;
}
.header-container .menu-container .menu-bars .menu-bar-bottom {
  width: 10px;
}

.navbar {
  bottom: 0;
  display: none;
  left: 0;
  min-height: 100vh;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.hero-section {
  min-height: 100vh;
}
.hero-section .hero-section-bg {
  background-image: url("../images/background/corn-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  filter: grayscale(100%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  width: 100%;
  z-index: 1;
}
.hero-section .hero-section-bg-overlay {
  background-color: #1e1e1e;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.game-board {
  cursor: pointer;
  margin: 0 auto;
  max-width: 60rem;
  padding-top: clamp(6.5rem, 5.429rem + 2.857vw, 8rem);
  position: relative;
  transition: opacity 0.5;
  z-index: 5;
}
.game-board .row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: clamp(1rem, 0.643rem + 0.952vw, 1.5rem) 0;
}
.game-board .row .cell {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 2rem;
  width: 100%;
}

.game-icon {
  transform: scale(0.75);
  transition: all 0.25s ease-in-out;
}
@media (min-width: 30rem) {
  .game-icon {
    transform: scale(1);
  }
}
@media (min-width: 64rem) {
  .game-icon {
    transform: scale(1.15);
  }
}
.game-icon:hover {
  transform: scale(0.82);
}
@media (min-width: 30rem) {
  .game-icon:hover {
    transform: scale(1.07);
  }
}
@media (min-width: 64rem) {
  .game-icon:hover {
    transform: scale(1.22);
  }
}
.game-icon:active {
  transform: scale(0.7);
}
@media (min-width: 30rem) {
  .game-icon:active {
    transform: scale(0.9);
  }
}
@media (min-width: 64rem) {
  .game-icon:active {
    transform: scale(1.05);
  }
}
.game-icon-init {
  opacity: 1;
}
.game-icon-hidden {
  display: none;
  opacity: 0;
}

.cell-color {
  height: clamp(0.75rem, 0.393rem + 0.952vw, 1.25rem);
}
.cell-color-purple, .cell-color-green, .cell-color-yellow, .cell-color-orange, .cell-color-blue {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
